[Desktop Entry]
Type=Application
Categories=System;Utility;Archiving;
X-KDE-RootOnly=true
Exec=xdg-su -c "live-usb-gui"
Icon=drive-removable-media
Name=Live USB GUI 
GenericName=Live USB GUI  
X-KDE-SubstituteUID=true
Version=1.0

